.btn {
    display: inline-block;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
	border: none;
    outline: none;
    height: 42px;
    border-radius: 21px;
    font: 16px $second_font_family;
    font-style: normal;
    font-weight: bold;
    padding: 10px 30px;
    color: #fff;
    @include text-select-off;



    
/*
******************************************************************
* Buttons settings
******************************************************************
*/

    // * Button themes 
    &.btn--theme--dark {
        background-color: $color_dark;
        color: #fff;
    }

    &.btn--theme--white {
        background-color: #fff;
        color: $color_dark;
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.06);
    }
    
    &.btn--theme--orange {
        background-color: #fff;
        color: #fff;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #FF7B17;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        box-shadow: 0px 6px 15px rgba(255, 123, 23, 0.31);
    }

    &.btn--shadow--black {
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    }

    
    
    // * Button sizes
    &.btn--size--md {}
    &.btn--size--sm {}




    // * Buttons list
    &.btn-donut {
        position: relative;
        padding-left: 60px;
        transition: 0.2s ease-out;

        span {
            display: inline;
        }

        .btn__glyph {
            position: absolute;
            left: 0;
            top: 0;
            width: 42px;
            height: 42px;
            border-radius: 42px 0 42px 42px;
            background-color: rgba(255, 255, 255, 0.15);
            border: 1px solid rgba(255, 255, 255, 0.2);
            
            

            &:before {
                display: block;
                text-align: center;
                margin-top: 10px;
                transform: rotate(45deg);
                transition: transform 0.3s ease-out;
            }
        }

        &:hover {
            box-shadow: 0px 6px 15px rgba(255, 123, 23, 0.31);
            .btn__glyph:before {
                transform: rotate(-45deg);
            }
        }
    }

    @include mq("sm_max") {
        &.btn-donut--sm--icon {
            width: 42px;
            padding-left: 0 !important;
            padding-right: 0 !important;
            overflow: hidden;
            border-radius: 21px 0 21px 21px;

            span {display: none !important;}
        }
    }



    // -----------------------------------

    &.btn-link {
        text-decoration: none;
    }

    // -----------------------------------

    &.btn-hamburger {
        color: $color_dark;
        padding: 0;
    }

    // -----------------------------------

    &.btn-submit {
        
    }

    

}


/*
******************************************************************
* Buttons another
******************************************************************
*/










/*
******************************************************************
* Buttons media queries
******************************************************************
*/

