.field {

    
/*
******************************************************************
*  FIELD-TEXT settings
******************************************************************
*/

    // * Field-text themes
    &.field-text--theme--1 {
        
    }


    // * Field-text sizes
    &.field-text--size--md {}
    &.field-text--size--sm {}



    // * Field-text list
    &.field-text {
        display: block;

        
        input {
            display: block;
            width: 100%;
            background: rgba(51, 58, 60, 0.04);
            border: 1px solid rgba($color: $color_dark, $alpha: 0.4);
            border-radius: 4px;
            padding: 15px;
            transition: 0.3s;

            &:focus {
                outline: none;
                background-color: #fff;
                border-color: rgba($color: $color_dark, $alpha: 0.8);
            }
        }
    }

    &.field-text-search {}








    

/*
******************************************************************
*  FIELD-CHECKBOX settings
******************************************************************
*/

    // * Field-checkbox themes
    &.field-checkbox--theme--1 {
        
    }


    // * Field-checkbox sizes
    &.field-checkbox--size--md {}
    &.field-checkbox--size--sm {}



    // * Field-checkbox list
    &.field-checkbox {
        
        &:after {@include clearfix;}
        .field-checkbox__title {
            margin: 0;
        }

        .field-checkbox__checkmark {
            float: left;
            margin-right: 15px;
            position: relative;
            display: inline-block;
            width: 24px;
            height: 24px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.51) 0%, rgba(255, 255, 255, 0) 100%), rgba(51, 58, 60, 0.11);
            border: 1px solid rgba(51, 58, 60, 0.4);
            border-radius: 4px;

            &::before {
                position: absolute;
                left: 0;
                right: 0;
                top: 6px;
                color: #fff;
                margin: auto;
                text-align: center;
                font-size: 10px;
                transform: scale(0.1);
                left: 0;
                z-index: 0;
                opacity: 0;
                transition: opacity 0.6s, transform 0.3s;
            }

            input {
                position: absolute;
                top: 0;
                left: 0;
                width: 24px;
                height: 24px;
                z-index: 1;
                opacity: 0;
            }
        }
        

        &.field-checkbox--checked {
            .field-checkbox__checkmark  {
                border: 1px solid #2AC37A;
                background: #2AC37A;

                &::before {
                    opacity: 1;
                    transform: scale(1);
                }
            }
            
        }
        
    }

    &.field-checkbox-agree {}










/*
******************************************************************
*  FIELD-RADIO settings
******************************************************************
*/

    // * Field-radio themes
    &.field-radio--theme--1 {
        
    }


    // * Field-radio sizes
    &.field-radio--size--md {}
    &.field-radio--size--sm {}



    // * Field-radio list
    &.field-radio {}

    &.field-radio-agree {}




}