.icon {
    display: inline-block;

    &.icon-arr {
        display: flex;
        border: 1px solid $color_dark;
        width: 42px;
        height: 42px;
        border-radius: 42px;
        justify-content: center;
        align-items: center;

        &.icon-arr--theme--white-dark {
            color: $color_dark;
            border: 1px solid $color_dark;
            background-color: #fff;
        }
    }



    // File Icons

    &.icon-file {

        &.icon-file--type--pdf {
            width: 24.57px;
            height: 32px;
        }
    }


    @keyframes spinner {
        0% {
            transform: rotate(0);
        }
        50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    &.icon-spinner {
        display: none;
        width: 56px;
        height: 56px;
        border-radius: 56px;
        border: 3px dashed $color_orange;
        transform: rotate(0deg);
        animation: spinner 2s ease-in-out infinite;

        &.icon-spinner--active {
            display: inline-block;
        }
    }


}





