/*
******************************************************************
* Text Color
******************************************************************
*/
.txt-color--dark {
    color: $color_text_default;
}

.txt-color--white {
    color: #fff;
}

.txt-color--orange {
    color: $color_orange;
}

.txt-color--blue {
    color: $color_blue;
}








/*
******************************************************************
* Background settings
******************************************************************
*/

.bg-gradient--blue {
    color: #fff;
    background: $gradient_blue;
}

.bg-gradient--orange {
    color: #fff;
    background: $gradient_orange;
}

