.hp-dsp-b {
    display: block;
}

.hp-dsp-ib {
    display: inline-block;
}

.hp-dsp-f {
    display: flex;
}

.hp-dsp-if {
    display: inline-flex;
}

.hp-dsp-g {
    display: grid;
}

.hp-dsp-ig {
    display: inline-grid;
}

.hp-dsp-t {
    display: table;
}

