@import 'boot/index.scss';


/*
******************************************************************
* Begin >>>>>
******************************************************************
*/

.page {
    min-height: 100vh;
    margin-bottom: 56*2px;
}











/*
* HOME PAGE
******************************************************************
*/

.home-opening {
    
    .home-opening__wrap {
        position: relative;
        min-height: 100vh;
        overflow: hidden;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: rgba($color: $color_dark, $alpha: 0.6);
            z-index: 1;
        }
    }

    .home-opening__video {
        position: absolute;
        top: 0;
        left: 0;

        video {
            min-width: 100vw;
            min-height: 100vh;
            // min-height: 100vh;
            
        }
    }
}

@include mq("lg_max") {
    
    .home-opening {
        .home-opening__wrap {
            min-height: 70vh;
        }

        .home-opening__video {
            left: -50%;
            video {
                min-height: 70vh;
            }
        }
    }
    
    
    @include mq("sm_max") {
        .home-opening {
            
        }
    }
    
}



// -------------------------------------------------

.home-about {
    .home-about__wrap {
        position: relative;
        background-color: $color_orange;
        color: #fff;
        min-height: 100vh;
        text-align: center;
        overflow: hidden;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-image: url('/img/svg/logo.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50%;
            filter: brightness(0) invert(100%);
            opacity: 0.09;
            z-index: 0;
        }
    }

    .home-about__inner {
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        z-index: 1;
    }

    .home-about__desc {
        width: size(8);
        margin: auto;
        margin-bottom: 56px;

        p {
            opacity: 0.7;
            transition: 0.3s;
            &:hover {opacity: 1;}
        }
    }

    .home-about__collected {
        margin: 0 15px;
    }

    .home-about__collected-info-list {
        justify-content: space-around;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.64) 100%);
        border: 6px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 15px;
        color: $color_dark;
        padding-bottom: 56px;
        margin-bottom: 56px;
    }

    .collected-info-list__item {
        margin: 15px;
        text-align: left;

        // &:nth-child(2) {margin: auto;}
        .collected-info-item__amount {
            font: rem($font_size_lg) $second_font_family;
            margin-bottom: 16px;
            
            b { color: $color_orange; }
        }

        span {
            font: rem($font_size_sm);
            opacity: 0.7;
        }
    }
}

@include mq("md_max") {
    .home-about {
        .home-about__desc {
            width: size(12);
        }

        .home-about__collected-info-list {
            flex-direction: column;
            align-items: center;
        }

        .collected-info-list__item {
            text-align: center;
        }

        .collected-info-item__amount {
            font-size: rem($font_size_md) !important;
        }
    }
}



// -------------------------------------------------


.home-collects {
    .home-collects__wrap {margin-bottom: 56px;}

    .home-collects__heading {
        text-align: center;
    }

    .home-collects__collects-list {

        .owl-stage-outer {
            margin-bottom: -32px;
        }
        .owl-stage {
            padding-top: 16px;
            padding-bottom: 32px;
        }

        .collect-item {
            .collect-item__preview {
                position: relative;
                height: 300px;
                overflow: hidden;
    
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(1.2);
                    // width: 100%;
                    height: 100%;
                    width: auto !important;
                    // height: 100%;
                    // max-width: auto !important;
                    // object-fit: cover;
                }
            }
        }
    }

    .home-collects__collects-link {
        display: block;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        text-decoration: underline;
        color: $color_dark;
    }
    
    
}


// -------------------------------------------------


.home-howtohelp {

    .home-howtohelp__wrap {
        display: flex;
        align-items: center;
        min-height: 100vh;
        background: url('/img/help_bg.jpg') no-repeat center center;
        background-size: cover;
        overflow: hidden;
    }

    .home-howtohelp__heading {
        color: #fff;
        text-align: center;
        align-self: flex-start;
    }

    .home-howtohelp__help-list {
        align-self: center;
        justify-content: space-between;
    }

    .help-list__item {
        width: size(6);
        

        &:first-child {
            align-self: flex-start;
            margin-bottom: 32px;
        }
        &:last-child {
            align-self: flex-end;
            margin-top: 32px;
        }
    }

    
}

@include mq("sm_max") {
    .home-howtohelp {
        .help-list__item {
            width: size(12);
        }
    }
}


// -------------------------------------------------


.home-partners {
    .home-partners__wrap {
        margin-top: 56px;
    }

    .home-partners__partners-list {
        display: flex;
        justify-content: center;
        margin: 0;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 15px;
        background: #FFFFFF;
        box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.07);

        .partner-item {
            position: relative;
 

            img {
                width: auto;
                height: 100px;
                margin: auto;
                // max-width: auto !important;
                // object-fit: cover;

            }
        }
    }
   

    
    
}


// -------------------------------------------------


.home-news {

    .home-news__news-list {

        .news-item__preview {
            position: relative;
            height: 300px;
            overflow: hidden;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // width: 100%;
                height: 100%;
                width: auto !important;
                // height: 100%;
                // max-width: auto !important;
                // object-fit: cover;
            }
        }

    }

    .home-news__news-link {
        display: block;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        text-decoration: underline;
        color: $color_dark;
    }

    

    .news-list__owl-carousel {
        .owl-stage {
            display: flex;
        }
        .news-item {
            height: 100%;
        }
    }
}































/*
* ABOUT PAGE
******************************************************************
*/

.about-desc {

    .about-desc__goals-list {
        justify-content: center;
        align-items: flex-start;
    }
    .goals-list__item {
        width: size(4);
        margin: 0 $gutter;
        margin-bottom: 32px;
    }
}

@include mq("sm_max") {
    .about-desc {
        .goals-list__item {
            width: size(6);
        }
    }
}































/*
* TEAM PAGE
******************************************************************
*/

.team-members {

    .team-members__list {
        margin: 0;

        .member-item {
            width: size(4);
            margin: $gutter;
        }

    }
     
}

@include mq("md_max") {
    .team-members .team-members__list {
        .member-item {
            width: size(6);
        }
    }
    
}


@include mq("sm_max") {
    .team-members .team-members__list {
        .member-item {
            width: size(12);
        }
    }
}
// -------------------------------------------------































/*
* TEAM MEMBER PAGE
******************************************************************
*/

.member-box {
    .member-box__member-info {
        background-color: #fff;
        padding: $gutter;
        border-radius: 8px;
        border: 1px solid rgba(89, 94, 104, 0.35);
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
        
    }
    .member-box__desc {
        width: size(6);
        padding: $gutter;
        
    }
   
    .member-info__photo {
        width: size(5);
        height: 400px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px;
    }

    .member-info__name {
        text-align: left;
        color: $color_blue;
        margin-top: rem($font_size_sm);
    }

    .member-info__position {
        color: $color_orange;
    }

}

@include mq("md") {
    .member-box {
        .member-info {
            .member-info__photo {
                width: size(8);
            }

            .member-box__desc {
                width: size(12);
            }
        }
    }
}

@include mq("sm_max") {
    .member-box {
        .member-info {
            .member-info__photo {
                width: size(12, 0);
            }

            .member-box__desc {
                width: size(12);
            }
        }
    }
}




























/*
* FOUNDERS PAGE
******************************************************************
*/

.founders-members {

    .founders-members__founders-list {
        justify-content: center;

        .founder-item {
            width: size(4);
            margin: $gutter;
        }

        .founder-item__photo {

            position: relative;
            min-height: 400px;
            overflow: hidden;
            background-color: $color_dark;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
    
             
        }
    }

    
}































/*
* MEDIANEWS PAGE
******************************************************************
*/

.medianews-box {

    .medianews-list {

        .medianews-item {
            width: size(6);
            margin: $gutter;
        }
        
    }
    
}

@include mq("sm_max") {
    .medianews-box {
        .medianews-list {

            .medianews-item {
                width: size(12);
         
            }
            
        }
    }
}





























/*
* FOUNDERS PAGE
******************************************************************
*/

.trustees-members {


    
}





























/*
* PROJECTS PAGE
******************************************************************
*/

.projects-desc {
    text-align: center;
}

// -------------------------------------------------

.projects-box {
    .projects-box__line {
        border: none;
        border-top: 1px solid rgba($color: $color_dark, $alpha: 0.1);
    }

    .projects-box__carousels-list {
        width: size(8);
        margin: auto;
    }
    
     

    
}

@include mq("md_max") {
     
    

    
    .projects-box__carousels-list {
         
        .project-item {
            .project-item__preview img {
                width: auto;
                max-width: none;
            }

            .project-item__title {
                font-size: rem($font_size_sm);
            }

            .project-item__desc {
                width: size(12);
            }
        }
    }

    

    .projects-box__carousels-list {
        width: size(12) !important;
    }
}






























/*
* VOLUNTEERS PAGE
******************************************************************
*/

.volunteers-opening {
    .volunteers-opening__slogan {
        min-height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@include mq("sm_max") {
    .volunteers-opening {
        .volunteers-opening__slogan {
            min-height: 30vh;
        }
    }
    
}

// -------------------------------------------------

.volunteers-desc {
    .volunteers-desc__pic {
        width: size(3);
        margin: $gutter;
    }
    
    .volunteers-desc__paragraph {
        width: size(9);
        margin: $gutter;
        
    }
}

@include mq("sm_max") {
    .volunteers-desc {
        .volunteers-desc__pic {
            width: size(12);
        }
        
        .volunteers-desc__paragraph {
            width: size(12);
            margin: $gutter;
        }
    }
}

// -------------------------------------------------


.volunteers-form {

    .volunteers-form__form {
        .form__wrap {
            padding: $gutter * 2;
        }

        .field-text {
            margin-bottom: rem($font_size_sm);
        }
    }

    .form-group__fields-list {
        justify-content: space-between;
    }
    
    .form-group__field {
        width: size(4);
        margin-left: auto;
        margin-right: auto;
    }

    .form-group__checkbox-container {
        display: block;
        margin-bottom: rem($font_size_xs);
    }
}

@include mq("sm_max") {
    .volunteers-form {
        .form-group__field {
            width: size(12);
        }
    }
    
}































/*
* DOCUMENTS PAGE
******************************************************************
*/

.contacts-opening {
    .contacts-opening__wrap {
        text-align: center;
    }
}


// -------------------------------------------------

.documents-box {
    .documents-list__link-item {
        margin-bottom: 32px;
    }
}



































/*
* CONTACTS PAGE
******************************************************************
*/


.contacts-info {
    .contacts-info__wrap {
        text-align: left;
    }

    .contacts-info__title {
        text-align: left;
    }
}

// -------------------------------------------------

.contacts-info__map {
    border: 1px solid $color_dark;
    border-radius: 8ox;
}

// -------------------------------------------------

.contacts-form {

    
        .form__wrap {
            padding: $gutter * 2;
        }

        .field-text, .field-textarea {
            margin-bottom: rem($font_size_sm);
        }

        .form-group__fields-list {
            justify-content: space-between;
        }
        
        .form-group__field {
            width: size(6);
            margin-left: auto;
            margin-right: auto;
        }

        .form-group__checkbox-container {
            display: block;
            margin-bottom: rem($font_size_xs);
        }
    

    
}

@include mq("sm_max") {
    .contacts-form {
        .form-group__field {
            width: size(12);
        }
    }
    
}


































/*
* REPORTS PAGE
******************************************************************
*/


.reports-links-box {

    .reports-links-box__list {
        text-align: center;
    }
    .reports-links-box__item {
        font: rem($font_size_lg) $second_font_family;
        margin-bottom: rem($font_size_md);
        
        

        a {
            border-radius: 4px;
            border: 1px solid rgba($color: $color_dark, $alpha: 0.4);
            background-color: #fff;
            color: inherit;
            display: block;
            padding: rem($font_size_md);
            transition: 0.3s;

            &:hover {
                color: #fff;
                background-color: $color_orange;
            }
        }
    }
}

@include mq("sm_max") {

    .reports-links-box {
        .reports-links-box__item {
            font-size: rem($font_size_sm);
        }
    }

}
































/*
* FINANCIAL PAGE
******************************************************************
*/

.financial-reports-years {
    .financial-reports-years__item {
        width: size(4);
        margin: $gutter;
    }

}

@include mq("sm_max") {

    .financial-reports-years {

        .financial-reports-years__item {
            width: size(6);
        }

        .financial-report-item__year {
            font-size: rem($font_size_sm);
        }
    }
}


// -------------------------------------------------

.financial-reports-months {

    .financial-reports-months__wrap {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: $z_header + 1;

        &.financial-reports-months--active {
            display: block;
        }
    }


    .financial-reports-months__list {
        align-items: center;
        justify-content: stretch;
        margin: 0;
        height: 100%;
    }

    .financial-reports-months__icon-spinner {
        @include abs-center;
    }


    .financial-reports-months__item {
        width: size(4, 0);
        box-shadow: none;
        border-radius: 0;
        align-self: stretch;
    }

    .financial-reports-months__btn-close {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

}


@include mq("sm_max") {

    .financial-reports-months {

        .financial-reports-months__item {
            width: size(6, 0);
        }

        .financial-report-item__link {
            font-size: rem($base_font_size);
        }

    }
}



































/*
* NEWS PAGE
******************************************************************
*/

.news-box {

    .news-list__item {
        width: size(4);
        margin: $gutter;
        
    }

    .news-item__preview {
        position: relative;
        height: 300px;
        overflow: hidden;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.2);
            // width: 100%;
            height: 100%;
            width: auto !important;
            // height: 100%;
            // max-width: auto !important;
            // object-fit: cover;
        }
    }
}

@include mq("lg_max") {

    .news-box {

        .news-list__item {
            width: size(6);
          
        }
    }
}

@include mq("sm_max") {

    .news-box {

        .news-list__item {
            width: size(12);
          
        }
    }
}



































/*
* NEWS ITEM PAGE
******************************************************************
*/

.news-post-box {

    .news-item {

        .news-item__preview {
            background: none !important;
            border: none;

            img {@include img-responsive;}
        }
        .news-item__info {
            padding: 0;
        }

        .news-item__body {
            margin-top: rem($font_size_lg);
        }
    }
}



































/*
* COLLECTS PAGE
******************************************************************
*/

.collects-list-box {

    .collects-list-box__collects-list {
       /*  max-width: $screen_lg;
        margin: auto;
        max-height: 1210px;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: flex-start; */

        .collect-item {

            width: size(3);
            margin: $gutter;

            .collect-item__preview {
                position: relative;
                height: 300px;
                overflow: hidden;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    // width: 100%;
                    height: 100%;
                    width: auto !important;
                    // height: 100%;
                    // max-width: auto !important;
                    // object-fit: cover;
                }
            }
        }
    }
}

 

@include mq("md") {
    .collects-list-box {

    
        .collects-list-box__collects-list {
            .collect-item {
                width: size(4);
            }
        }
    }
}

@include mq("sm_max") {
    .collects-list-box {

        .collects-list-box__collects-list {
            .collect-item {
                width: size(12);
            }
        }
    }
}




































/*
* COLLECT ITEM PAGE
******************************************************************
*/


.collect-box {
    .collect-box__wrap {
        margin-top: rem($font_size_lg);
    }
    .collect-box__collect-info-item {

   
        .collect-item__preview {
            position: relative;
       
            overflow: hidden;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: size(6, 0);

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // width: 100%;
                height: 100%;
                width: auto !important;
                // height: 100%;
                // max-width: auto !important;
                // object-fit: cover;
            }
        }

        .collect-item__desc {
            width: size(6, 0);
            padding: $gutter * 2;

        }

        .collect-item__name {
            text-align: left;
            margin-top: rem($font_size_sm);
            b {
                color: $color_blue;
            }
        }

    }

    .collect-box__collect-info-post {
        margin-top: rem($font_size_lg);
    }

}

 

@include mq("md") {
    
     
}

@include mq("sm_max") {
    .collect-box {
        .collect-box__collect-info-item  {
            .collect-item__preview {
                width: size(12, 0);
                height: 300px;
            }
            .collect-item__desc {
                width: size(12, 0);
            }
        }
    }
}




































/*
* FORM DONE PAGE
******************************************************************
*/

.form-done-box {
    
    .form-done-box__link {
        margin-top: rem($font_size_lg);
        display: block;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        color: $color_dark;
        text-decoration: underline;
    }
}


























/*
******************************************************************
* <<<<< End
******************************************************************
*/


@import 'boot/_shame.scss';