@import 'boot/index.scss';


/*
******************************************************************
* Begin >>>>>
******************************************************************
*/












/*
* Home Page
******************************************************************
*/

.home-opening {
    
    .home-opening__wrap {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    .home-opening__video {
        position: absolute;
        top: 0;
        left: 0;

        video {
            min-width: 100vw;
            min-height: 560px;
            // min-height: 100vh;
            
        }
    }
}


.home-about {
    .home-about__wrap {
        background-color: $color_orange;
        color: #fff;
        text-align: center;
        overflow: hidden;
    }

    .home-about__desc {
        width: size(8);
        margin: auto;
    }
}





/*
******************************************************************
* <<<<< End
******************************************************************
*/


@import 'boot/_shame.scss';