.page-home {
    .header .header__wrap {
        height: auto;
    }
}
 
// -----------------------------------------------------


.page-about, .page-team, .page-trustees, .page-projects, .page-financial-reports {
    margin-bottom: 0 !important;


    .action-block {
        margin-top: 56*2px;
    }
    .action-block {
        text-align: center;
        overflow: hidden;


        .action-block__question { margin-bottom: rem($font_size_md); }
        .action-block__btn { margin-bottom: rem($font_size_lg); }

    }

}

// -----------------------------------------------------



.page-founders, .page-trustees {

    @include mq("md") {
        .founders-members__founders-list .founder-item {
            width: size(6);
        }
    }

    @include mq("sm_max") {
        .founders-members__founders-list .founder-item {
            width: size(12);
        }
    }
}


// -----------------------------------------------------

.page-team,
.page-volunteers
 {
    .member-item {
        // width: size(4);
        margin: $gutter;

        &:hover {
            .member-item__photo:after { opacity: 1; }

            .member-item__contacts {
                opacity: 1;
                bottom: 20px;
            }
        }

        .member-item__photo {
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba($color: $color_dark, $alpha: 0.65);
                z-index: 0;
                opacity: 0;
                transition: opacity 0.6s;
            }
        }


        .member-item__contacts {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 25px 15px;
            margin: 0 20px;
            z-index: 1;
            transition: bottom 0.3s ease-in-out, opacity 0.3s;

        }
    }
 }

// -----------------------------------------------------


.page-projects, .page-financial-reports {

    .tabs {
        .tabs__list {
            width: size(8);
            margin: 56px auto;
            justify-content: space-between;
        }

        .tab-item {
            width: 50%;
        }
    }

}

@include mq("md_max") {
     
    .tabs__list {
        width: size(12) !important;
    }

    .tab-item {
        font-size: rem($base_font_size) !important;
    }
}