.page-default {
    .page-default__wrap {
        background-color: #fff;
        border: 1px solid rgba($color: $color_dark, $alpha: 0.1);
        border-radius: 8px;

        img {
            max-width: 100% !important;
            height: auto !important;
        }
    }
}

.page-home {
    .header .header__wrap {
        height: auto;
    }
}
 
// -----------------------------------------------------


.page-about, .page-team, .page-trustees, .page-projects, .page-financial-reports, .page-member {
    margin-bottom: 0 !important;


    .action-block {
        margin-top: 56*2px;
    }
    .action-block {
        text-align: center;
        overflow: hidden;


        .action-block__question { margin-bottom: rem($font_size_md); }
        .action-block__btn { margin-bottom: rem($font_size_lg); }

    }

}

// -----------------------------------------------------



.page-founders, .page-trustees {

    @include mq("md") {
        .founders-members__founders-list .founder-item {
            width: size(6);
        }
    }

    @include mq("sm_max") {
        .founders-members__founders-list .founder-item {
            width: size(12);
        }
    }
}


// -----------------------------------------------------

.page-team,
.page-volunteers
 {
    .member-item {
        position: relative;
 
        margin: $gutter;
        min-height: 350px;

        &:hover {
            .member-item__photo:after { opacity: 1; }

            .member-item__contacts {
                opacity: 1;
                bottom: 10%;
                // transform: translate(0, 70%);
            }
        }

        .member-item__photo {
            position: absolute;
            background-color: $color_dark;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba($color: $color_dark, $alpha: 0.65);
                z-index: 0;
                opacity: 0;
                transition: opacity 0.6s;
            }
        }

        .member-item__name {
            margin-top: 0;
        }

        .member-item__contacts {
            position: absolute;
            padding: 25px 15px;
            width: 80%;
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: 0;
            // transform: translate(0, 100%);
            transition: bottom 0.3s ease-in-out, opacity 0.3s;

        }
    }
 }

// -----------------------------------------------------


.page-projects, .page-financial-reports {

    .tabs {
        .tabs__list {
            width: size(8);
            margin: 56px auto;
            justify-content: space-between;
        }

        .tab-item {
            width: 50%;
        }
    }

}

@include mq("md_max") {
     
    .tabs__list {
        width: size(12) !important;
    }

    .tab-item {
        font-size: rem($base_font_size) !important;
    }
}