.owl-carousel--custom-nav-1 {
    .owl-nav {
        text-align: center;
        margin-top: 32px;
    }

    .owl-prev, .owl-next {
        border: none;
        outline: none;
        margin: 0 15px;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.5;
        }
    }
    
}

.owl-carousel--custom-nav-2 {
    

    .owl-prev, .owl-next {
        position: absolute;
        top: 40%;
        border: none;
        outline: none;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.5;
        }
    }

    .owl-prev {
        left: -10%;
    }
    .owl-next {
        right: -10%;
    }
    

    .owl-dots {
        text-align: center;
        margin-top: 32px;
    }

    .owl-dot {
        width: 13px;
        height: 13px;
        margin: 0 6px;
        background-color: $color_dark !important;
        border-radius: 13px;

        &.active {
            background-color: $color_blue !important;
        }
    }

    
}

@include mq("md_max") {
    .owl-carousel--custom-nav-2 {
        .owl-prev {
            left: 0;
        }
        .owl-next {
            right: 0;
        }
    }
}

