.header {
    .header__wrap {
        height: 120px;
    }

    .header__inner {
        position: fixed;
        width: 100%;
        z-index: $z_header;
    }
    
    .header__top {
        padding: 10px 30px;
        margin: 0;
        align-items: center;
        background-color: $color_dark;
        color: #fff;
    }

    .header__nav {
        width: size(9);
    }

    .header__r-links {
        width: size(3);
        margin-left: auto;
        justify-content: flex-end;
        align-items: center;
    }

    .header__help-link {
        margin-right: 15px;
    }

    .header__social-links {
        margin: 0;
        padding: 0 15px;
    }

    .header__bottom {
        position: relative;
        padding: 10px 30px;
        margin: 0;
        align-items: center;
        justify-content: space-between;
        background-color: rgba($color: #fff, $alpha: 0.9);
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    }

    .header__phone-numbers {
        margin-right: auto;
    }

    .header__logo {
        @include abs-center;
        width: 58.18px;
        height: 48px;
        img {@include img-responsive;}
    }

    .header__btn-hamburger {
        margin-right: auto;
    }

    
    @include mq("lg_max") {
        .header__nav {
            width: size(8);
        } 
        .header__r-links {
            width: size(4);
        }
        .header__nav .nav__item, .header__help-link {
            font-size: rem(14px);
        }
    }

    @include mq("md") {
        .header__nav {
            width: size(10);
        } 
        .header__r-links {
            width: size(3);
        }
        .header__nav .nav__item {
            font-size: rem(14px);
        }
        .header__social-links {
            display: none;
        }
        .header__help-link {
            font-size: rem(12px);
        }
    }

    @include mq("sm_max") {
        .header__top {display: none;}
        .header__bottom {padding: 10px 15px;}
        .header__phone-numbers {display: none;}
        .header__logo {
            width: 38px;
         
        }
    }

   

    
    

}