.modals {
    
    .modals__wrap {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $color_dark;
        z-index: $z_header + 2;
        overflow-y: auto;

        &.modal--active {
            display: block;
        }
    }

    
    
}

.modals {
    
    .modal {
        display: none;

        &.modal--active {
            display: block;
        }
    }

    .modal-menu__btn-close {
        width: auto;
        height: auto;
        background: none;
    }

    .modal-menu__header {
        position: relative;
        background-color: #3B4446;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }

    
    .modal-menu__btn-close {
        margin-right: auto;
    }

    .modal-menu__logo {
        @include abs-center;
        width: 58.18px;
        height: 48px;
        text-align: center;
    }

    .modal-menu__content {
        text-align: center;
    }

    .modal-menu__nav {
        color: #fff;
        text-align: center;
    }

    .modal-menu__navbar{
        .navbar-item {
            margin: rem($font_size_sm) 0;
        }

        
    }
    

    .navbar-item__navbar {
        position: static !important;
        color: rgba($color: $color_orange, $alpha: 0.7);
        width: auto !important;

    }

    

    .modal-menu__line {
        border: none;
        border-top: 1px solid rgba($color: #fff, $alpha: 0.1);
        margin: 16px 30px;
    }

    .modal-menu__help-link {
        display: block;
        margin: rem($font_size_sm) 0;
        text-decoration: underline;
    }

    .modal-menu__social-links {
        justify-content: center;
    }


    .modal-menu__phone-numbers {
        margin-top: 32px;
        .phone-numbers__glyph {
            position: static;
            color: #fff;
            opacity: 0.4;
        }
        p {
            color: $color_orange;
            font-style: normal;
            font-weight: normal;
            margin: rem($font_size_xs) 0;
        }
    }
    

}
