extends boot/base/_base.pug

//- Insert your code after content block
block content

   +layout('header')
   main.page.page-about
      
      
      h3 О нас

      section.breadcumbs
         .container
            ul.breadcumbs__list.row-mg
               li.breadcumb-item
                  a(href="/") Главная
               li.breadcumb-item
                  a(href="") О нас

      // SECTION
      section.about-desc
         .about-desc__wrap
            .container
               .about-desc__group-photo
 
               p Благотворительный Фонд социальной помощи и поддержки граждан "Клуб Добрых Людей (КДЛ)" учрежден 11 января 2016 года. 
               
               .about-desc__history
                  h3.heading--theme--blue История
                  p В 2012 году группа неравнодушных ребят объединилась с одной единственной целью – спасти маленького Расула, у которого диагностировали цирроз печени.
                  p Молодые люди, движимые состраданием и желанием помочь ребенку приняли активное участие в организации благотворительного концерта в поддержку Расула Манкиева, а также провели акцию по сбору средств в университете.
                  p В декабре 2013 года ребята  организовали и провели праздник  для детей из малообеспеченных семей и детей-инвалидов. Именно это мероприятие послужило началом к основной регулярной работе команды. Воодушевленные молодые люди решили, что работа в интересах нуждающихся должна обрести регулярный характер, а, значит, должно быть имя и логотип. Так появилось звучное название тогда еще волонтерского движения «Клуб Добрых Людей/КДЛ».
                  p Врачи, учителя, студенты, государственные служащие и домохозяйки - всех их объединяло одно - желание дарить радость людям. В декабре 2015 году ребята приняли решение зарегистрировать Фонд. 

               .about-desc__history
                  h3.heading--theme--blue Задачи
                  ul.about-desc__goals-list.goals-list.row
                     //- 
                     li.goals-list__item.goal-item
                        i.goal-item__icon
                           object(data="/img/svg/icon_goal_1.svg", type="image/svg+xml").icon.icon-goal
                        p.goal-item__title Cбор средств на лечение и реабилитацию детей со сложными заболеваниями
                     //- 
                     li.goals-list__item.goal-item
                        i.goal-item__icon
                           object(data="/img/svg/icon_goal_2.svg", type="image/svg+xml").icon.icon-goal
                        p.goal-item__title Помощь и поддержка семей, оказавшихся в сложной жизненной ситуации;
                     //- 
                     li.goals-list__item.goal-item
                        i.goal-item__icon
                           object(data="/img/svg/icon_goal_3.svg", type="image/svg+xml").icon.icon-goal
                        p.goal-item__title Привлечение внимания общественности к проблемам больных детей и семей
                     //- 
                     li.goals-list__item.goal-item
                        i.goal-item__icon
                           object(data="/img/svg/icon_goal_4.svg", type="image/svg+xml").icon.icon-goal
                        p.goal-item__title Содействие развитию безвозмездного донорства крови;
                     //- 
                     li.goals-list__item.goal-item
                        i.goal-item__icon
                           object(data="/img/svg/icon_goal_5.svg", type="image/svg+xml").icon.icon-goal
                        p.goal-item__title Развитие волонтерства в регионе.
      
      
      // SECTION            
      section.about-action
            .about-action__wrap
                .action-block.about-action__action-block.bg-gradient--blue
                    .container
                        h3.action-block__question Хотите участвовать в волонтерстве?
                        button.btn.btn--theme--white-to-orange.action-block__btn Напишите нам