extends boot/base/_base.pug

//- Insert your code after content block
block content
   main.page.page--about
      +layout('header')
      
      h3 О нас

      //- SECTION
      section.about-desc
         .about-desc__wrap
            .container
               .about-desc__group-photo
                  img(src="img/kdl_group_photo.jpg", alt="").img-responsive.img-br-rd
               p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
               
               .about-desc__history
                  h3.heading--theme--blue История
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. 
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
               
               .about-desc__history
                  h3.heading--theme--blue Задачи
                  ul.about-desc__goals-list.goals-list.row
                     //- 
                     li.goals-list__item.goal-item
                        i.goal-item__icon
                           object(data="img/svg/icon_goal_1.svg", type="image/svg+xml").icon.icon-goal
                        p.goal-item__title Cбор средств на лечение и реабилитацию детей со сложными заболеваниями
                     //- 
                     li.goals-list__item.goal-item
                        i.goal-item__icon
                           object(data="img/svg/icon_goal_2.svg", type="image/svg+xml").icon.icon-goal
                        p.goal-item__title Помощь и поддержка семей, оказавшихся в сложной жизненной ситуации;
                     //- 
                     li.goals-list__item.goal-item
                        i.goal-item__icon
                           object(data="img/svg/icon_goal_3.svg", type="image/svg+xml").icon.icon-goal
                        p.goal-item__title Привлечение внимания общественности к проблемам больных детей и семей
                     //- 
                     li.goals-list__item.goal-item
                        i.goal-item__icon
                           object(data="img/svg/icon_goal_4.svg", type="image/svg+xml").icon.icon-goal
                        p.goal-item__title Содействие развитию безвозмездного донорства крови;
                     //- 
                     li.goals-list__item.goal-item
                        i.goal-item__icon
                           object(data="img/svg/icon_goal_5.svg", type="image/svg+xml").icon.icon-goal
                        p.goal-item__title Развитие волонтерства в регионе.
                     
      