extends boot/base/_base.pug

//- Insert your code after content block
block content

    +layout('header')
    main.page.page-founders
    
        
      
        h3 Правление фонда

        // SECTION
        section.founders-members
            .founders-members__wrap
                .container
                    ul.founders-members__founders-list.founders-list.row
                        // - 
                        li.founder-item
                            .founder-item__photo(style="background-image: url(/uploads/images/founder_item.jpg)")
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p.founder-item__contact <b>Тел.:</b> 8 (928) 731-26-02
                                p.founder-item__contact <b>Email.:</b> dobrokdl@gmail.com
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        
                        
                        // - 
                        li.founder-item
                            .founder-item__photo(style="background-image: url(/img/volunteer_img_1.jpg)")
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p.founder-item__contact <b>Тел.:</b> 8 (928) 731-26-02
                                p.founder-item__contact <b>Email.:</b> dobrokdl@gmail.com
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        
                        
        

        