extends boot/base/_base.pug

//- Insert your code after content block
block content
   main.page.page--founders
    
        +layout('header')
      
        h3 Правление фонда

        //- SECTION
        section.founders-members
            .founders-members__wrap
                .container
                    ul.founders-members__founders-list.founders-list.row
                        //- 
                        li.founder-item.founders-list__item
                            .founder-item__photo
                                img(src="uploads/images/founder_item.jpg", alt="founder_item").img-responsive
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p.founder-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                                p.founder-item__connect <b>Email.:</b> dobrokdl@gmail.com
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        
                        //- 
                        li.founder-item.founders-list__item
                            .founder-item__photo
                                img(src="uploads/images/founder_item.jpg", alt="founder_item").img-responsive
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p.founder-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                                p.founder-item__connect <b>Email.:</b> dobrokdl@gmail.com
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        
                        //- 
                        li.founder-item.founders-list__item
                            .founder-item__photo
                                img(src="uploads/images/founder_item.jpg", alt="founder_item").img-responsive
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p.founder-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                                p.founder-item__connect <b>Email.:</b> dobrokdl@gmail.com
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        
                        //- 
                        li.founder-item.founders-list__item
                            .founder-item__photo
                                img(src="uploads/images/founder_item.jpg", alt="founder_item").img-responsive
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p.founder-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                                p.founder-item__connect <b>Email.:</b> dobrokdl@gmail.com
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        
                        //- 
                        li.founder-item.founders-list__item
                            .founder-item__photo
                                img(src="uploads/images/founder_item.jpg", alt="founder_item").img-responsive
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p.founder-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                                p.founder-item__connect <b>Email.:</b> dobrokdl@gmail.com
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        


        

        