extends boot/base/_base.pug

//- Insert your code after content block
block content
    +layout('header')
    main.page.page--gallery-reports
    
        
      
        

        // SECTION
        section.gallery-reports
            .gallery-reports__wrap
                .container
                    h4.txt-color--orange Фотоотчеты
                    ul.gallery-reports__reports-list.owl-carousel.gallery-reports__owl-carousel.gallery-reports-list.owl-carousel--custom-nav-2
                        // - 
                        li.gallery-item
                            .gallery-item__photo
                                img(src="uploads/images/gallery_item.jpg", alt="gallery_item").img-responsive
                            .gallery-item__desc
                                .gallery-item__title Отчет от 20.03.2019
                                .gallery-item__text Благотворительный фонд социальной помощи и поддержки граждан
                                a(href="").btn.btn--theme--blue.gallery-item__btn Перейти
                        // - 
                        li.gallery-item
                            .gallery-item__photo
                                img(src="uploads/images/gallery_item.jpg", alt="gallery_item").img-responsive
                            .gallery-item__desc
                                .gallery-item__title Отчет от 20.03.2019
                                .gallery-item__text Благотворительный фонд социальной помощи и поддержки граждан
                                a(href="").btn.btn--theme--blue.gallery-item__btn Перейти
                        // - 
                        li.gallery-item
                            .gallery-item__photo
                                img(src="uploads/images/gallery_item.jpg", alt="gallery_item").img-responsive
                            .gallery-item__desc
                                .gallery-item__title Отчет от 20.03.2019
                                .gallery-item__text Благотворительный фонд социальной помощи и поддержки граждан
                                a(href="").btn.btn--theme--blue.gallery-item__btn Перейти
                        // - 
                        li.gallery-item
                            .gallery-item__photo
                                img(src="uploads/images/gallery_item.jpg", alt="gallery_item").img-responsive
                            .gallery-item__desc
                                .gallery-item__title Отчет от 20.03.2019
                                .gallery-item__text Благотворительный фонд социальной помощи и поддержки граждан
                                a(href="").btn.btn--theme--blue.gallery-item__btn Перейти
                        // - 
                        li.gallery-item
                            .gallery-item__photo
                                img(src="uploads/images/gallery_item.jpg", alt="gallery_item").img-responsive
                            .gallery-item__desc
                                .gallery-item__title Отчет от 20.03.2019
                                .gallery-item__text Благотворительный фонд социальной помощи и поддержки граждан
                                a(href="").btn.btn--theme--blue.gallery-item__btn Перейти
        
        
        // SECTION
        section.gallery-reports
            .gallery-reports__wrap
                .container
                    h4.txt-color--blue Видеоотчеты
                    ul.gallery-reports__reports-list.owl-carousel.gallery-reports__owl-carousel.gallery-reports-list.owl-carousel--custom-nav-2
                        // - 
                        li.gallery-item.gallery-item--type--video
                            .gallery-item__photo
                                img(src="uploads/images/gallery_item.jpg", alt="gallery_item").img-responsive
                            
                        // - 
                        li.gallery-item.gallery-item--type--video
                            .gallery-item__photo
                                img(src="uploads/images/gallery_item.jpg", alt="gallery_item").img-responsive
                            
                        // - 
                        li.gallery-item.gallery-item--type--video
                            .gallery-item__photo
                                img(src="uploads/images/gallery_item.jpg", alt="gallery_item").img-responsive
                            
                        // - 
                        li.gallery-item.gallery-item--type--video
                            .gallery-item__photo
                                img(src="uploads/images/gallery_item.jpg", alt="gallery_item").img-responsive
                            
                        

                        
                    