extends boot/base/_base.pug



//- Insert your code after content block
block content
    
    +layout('header')
    main.page.page-gallery-reports
    
        
      
        h2 Фотоотчет от 22.02.2019

        // SECTION
        section.gallery-reports
            .gallery-reports__wrap
                .container
                    h4 Фотоотчет от 22.02.2019
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo 
                    
                    ul.gallery.gallery__lightslider
                        // - 
                        li(data-thumb="uploads/images/gallery_item.jpg")
                            img(src="uploads/images/gallery_item.jpg", alt="")
                        // - 
                        li(data-thumb="uploads/images/gallery_item.jpg")
                            img(src="uploads/images/gallery_item.jpg", alt="")
                        // - 
                        li(data-thumb="uploads/images/gallery_item.jpg")
                            img(src="uploads/images/gallery_item.jpg", alt="")
                        // - 
                        li(data-thumb="uploads/images/gallery_item.jpg")
                            img(src="uploads/images/gallery_item.jpg", alt="")
                        // - 
                        li(data-thumb="uploads/images/gallery_item.jpg")
                            img(src="uploads/images/gallery_item.jpg", alt="")
                        // - 
                        li(data-thumb="uploads/images/gallery_item.jpg")
                            img(src="uploads/images/gallery_item.jpg", alt="")
                        // - 
                        li(data-thumb="uploads/images/gallery_item.jpg")
                            img(src="uploads/images/gallery_item.jpg", alt="")
                        // - 
                        li(data-thumb="uploads/images/gallery_item.jpg")
                            img(src="uploads/images/gallery_item.jpg", alt="")
                        // - 
                        li(data-thumb="uploads/images/gallery_item.jpg")
                            img(src="uploads/images/gallery_item.jpg", alt="")
                        // - 
                        li(data-thumb="uploads/images/gallery_item.jpg")
                            img(src="uploads/images/gallery_item.jpg", alt="")
                        // - 
                        li(data-thumb="uploads/images/gallery_item.jpg")
                            img(src="uploads/images/gallery_item.jpg", alt="")
                        // - 
                        li(data-thumb="uploads/images/gallery_item.jpg")
                            img(src="uploads/images/gallery_item.jpg", alt="")
                            
                        

                        
                    