extends boot/base/_base.pug

//- Insert your code after content block
block content
   .page.page--gridtest
      .container
         .gridtest-block
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore repellat tenetur doloribus quae, possimus consectetur adipisci ex dolores quas quisquam?
         
      