extends boot/base/_base.pug

//- Insert your code after content block
block content
   main.page.page--home
      +layout('header')

      //- SECTION
      section.home-opening
         .home-opening__wrap
            .home-opening__video
               video( muted autoplay loop playsinline )
                  source(src="uploads/video/home.webm" type="video/webm")
                  source(src="uploads/video/home.mp4" type="video/mp4")    
      
      //- SECTION
      section.home-about
         .home-about__wrap
            .home-about__inner
               .container
                  .home-about__desc
                     h2 О фонде
                     p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                  .home-about__collected
                     ul.home-about__collected-info-list.collected-info-list.row
                        li.collected-info-list__item.collected-info-item
                           p.collected-info-item__amount 11 522 000 <b>р.</b>
                           span Собрано за 2017
                        li.collected-info-list__item.collected-info-item
                           p.collected-info-item__amount 245 000 <b>р.</b>
                           span Собрано за февраль
                        li.collected-info-list__item.collected-info-item
                           p.collected-info-item__amount 25 001 540 <b>р.</b>
                           span За все время
      
      //- SECTION
      section.home-needy
         .home-needy__wrap
            .container
               h3.home-needy__heading Им нужна ваша помощь
               ul.home-needy__needy-list.owl-carousel.needy-list__owl-carousel.needy-list.owl-carousel--custom-nav-1
                  //- 
                  li.item.needy-list__item.needy-item
                     .needy-item__preview
                        img(src="uploads/images/needy.jpg", alt="")
                     .needy-item__desc
                        p.needy-item__name <b>Jane Doe</b>, 10 лет<br/>
                           span Диагноз: ДЦП
                        .needy-item__collect.row
                           div.needy-item__bar <span style="width: 100%"></span>
                           p.needy-item__collected Собрано <br/><b>25000 р.</b>
                           p.needy-item__needed Сбор закрыт <br/><b>25000 р.</b>
                           p.needy-item__icon-done
                              i.glyph-check-2
                  //- 
                  li.item.needy-list__item.needy-item.needy-item--done
                     .needy-item__preview
                        img(src="uploads/images/needy.jpg", alt="")
                     .needy-item__desc
                        p.needy-item__name <b>Jane Doe</b>, 10 лет<br/>
                           span Диагноз: ДЦП
                        .needy-item__collect.row
                           div.needy-item__bar <span></span>
                           p.needy-item__collected Собрано <br/><b>12000 р.</b>
                           p.needy-item__needed Требуется <br/><b>25000 р.</b>
                           p.needy-item__icon-done
                              i.glyph-check-2
                  
                           
                  
                  //- 
                  li.item.needy-list__item.needy-item
                     .needy-item__preview
                        img(src="uploads/images/needy.jpg", alt="")
                     .needy-item__desc
                        p.needy-item__name <b>Jane Doe</b>, 10 лет<br/>
                           span Диагноз: ДЦП
                        .needy-item__collect.row
                           div.needy-item__bar <span></span>
                           p.needy-item__collected Собрано <br/><b>12000 р.</b>
                           p.needy-item__needed Требуется <br/><b>25000 р.</b>
                           p.needy-item__icon-done
                              i.glyph-check-2
                  
                  //- 
                  li.item.needy-list__item.needy-item
                     .needy-item__preview
                        img(src="uploads/images/needy.jpg", alt="")
                     .needy-item__desc
                        p.needy-item__name <b>Jane Doe</b>, 10 лет<br/>
                           span Диагноз: ДЦП
                        .needy-item__collect.row
                           div.needy-item__bar <span></span>
                           p.needy-item__collected Собрано <br/><b>12000 р.</b>
                           p.needy-item__needed Требуется <br/><b>25000 р.</b>
                           p.needy-item__icon-done
                              i.glyph-check-2
                  
                  //- 
                  li.item.needy-list__item.needy-item
                     .needy-item__preview
                        img(src="uploads/images/needy.jpg", alt="")
                     .needy-item__desc
                        p.needy-item__name <b>Jane Doe</b>, 10 лет<br/>
                           span Диагноз: ДЦП
                        .needy-item__collect.row
                           div.needy-item__bar <span></span>
                           p.needy-item__collected Собрано <br/><b>12000 р.</b>
                           p.needy-item__needed Требуется <br/><b>25000 р.</b>
                           p.needy-item__icon-done
                              i.glyph-check-2

      //- SECTION
      section.home-howtohelp
         .home-howtohelp__wrap
            .container
               h2.home-howtohelp__heading Как помочь?
               ul.home-howtohelp__help-list.help-list.row-mg
                  
                  li.help-list__item.help-item
                     a(href="").help-item__link
                        .help-item__preview
                           img(src="img/help_item_bg_1.jpg", alt="Делом").img-responsive
                        p.help-item__title Делом
                  
                  li.help-list__item.help-item
                     a(href="").help-item__link
                        .help-item__preview
                           img(src="img/help_item_bg_2.jpg", alt="Деньгами").img-responsive
                        p.help-item__title Деньгами
      
      //- SECTION
      section.home-partners
         .home-partners__wrap
            .home-partners__inner
               h3.home-partners__heading Наши партнеры
               ul.home-partners__partners-list.owl-carousel.partners-list__owl-carousel.partners-list
                  li.item.partners-list__item.partner-item
                     img(src="img/partner.jpg", alt="")
                  li.item.partners-list__item.partner-item
                     img(src="img/partner.jpg", alt="")
                  li.item.partners-list__item.partner-item
                     img(src="img/partner.jpg", alt="")
                  li.item.partners-list__item.partner-item
                     img(src="img/partner.jpg", alt="")
                  li.item.partners-list__item.partner-item
                     img(src="img/partner.jpg", alt="")
                  li.item.partners-list__item.partner-item
                     img(src="img/partner.jpg", alt="")
                  li.item.partners-list__item.partner-item
                     img(src="img/partner.jpg", alt="")
                  li.item.partners-list__item.partner-item
                     img(src="img/partner.jpg", alt="")
      
      //- SECTION
      section.home-news
         .home-news__wrap
            .container
               .home-news__inner
                  h3.home-news__heading Последние новости
                  ul.home-news__news-list.owl-carousel.news-list__owl-carousel.news-list.owl-carousel--custom-nav-1
                     li.item.news-list__item.news-item
                        a(href="")
                           .news-item__preview
                              img(src="uploads/images/news_item.jpg", alt="")
                           .news-item__info
                              h4.news-item__title Знакомство с ментальной арифметикой...
                              span.news-item__date 23.04.2019
                              p.news-item__text Наши маленькие подопечные продолжают развивать умственные и творческие способности.
                              
                     li.item.news-list__item.news-item
                        a(href="")
                           .news-item__preview
                              img(src="uploads/images/news_item.jpg", alt="")
                           .news-item__info
                              h4.news-item__title Знакомство с ментальной арифметикой...
                              span.news-item__date 23.04.2019
                              p.news-item__text Наши маленькие подопечные продолжают развивать умственные и творческие способности.
                              
                     li.item.news-list__item.news-item
                        a(href="")
                           .news-item__preview
                              img(src="uploads/images/news_item.jpg", alt="")
                           .news-item__info
                              h4.news-item__title Знакомство с ментальной арифметикой...
                              span.news-item__date 23.04.2019
                              p.news-item__text Наши маленькие подопечные продолжают развивать умственные и творческие способности.
                              
                     li.item.news-list__item.news-item
                        a(href="")
                           .news-item__preview
                              img(src="uploads/images/news_item.jpg", alt="")
                           .news-item__info
                              h4.news-item__title Знакомство с ментальной арифметикой...
                              span.news-item__date 23.04.2019
                              p.news-item__text Наши маленькие подопечные продолжают развивать умственные и творческие способности.
                              
                     li.item.news-list__item.news-item
                        a(href="")
                           .news-item__preview
                              img(src="uploads/images/news_item.jpg", alt="")
                           .news-item__info
                              h4.news-item__title Знакомство с ментальной арифметикой...
                              span.news-item__date 23.04.2019
                              p.news-item__text Наши маленькие подопечные продолжают развивать умственные и творческие способности.
                              
                     li.item.news-list__item.news-item
                        a(href="")
                           .news-item__preview
                              img(src="uploads/images/news_item.jpg", alt="")
                           .news-item__info
                              h4.news-item__title Знакомство с ментальной арифметикой...
                              span.news-item__date 23.04.2019
                              p.news-item__text Наши маленькие подопечные продолжают развивать умственные и творческие способности.
                              
                  
                  a(href="").home-news__news-link Все новости




                  

     
      