extends boot/base/_base.pug

//- Insert your code after content block
block content
   main.page.page--medianews
    
        +layout('header')
      
        h3 СМИ о нас

        //- SECTION
        section.medianews-box
            .medianews-box__wrap
                .container 
                    ul.medianews-box__list.medianews-list.row
                        //- 
                        li.medianews-item.medianews-list__item
                            a(href="")
                                .medianews-item__preivew
                                    img(src="uploads/images/medianews_item.jpg", alt="medianews_item").img-responsive
                                h4.medianews-item__title День добровольца БФ "КДЛ"
                        //- 
                        li.medianews-item.medianews-list__item
                            a(href="")
                                .medianews-item__preivew
                                    img(src="uploads/images/medianews_item.jpg", alt="medianews_item").img-responsive
                                h4.medianews-item__title День добровольца БФ "КДЛ"
                        //- 
                        li.medianews-item.medianews-list__item
                            a(href="")
                                .medianews-item__preivew
                                    img(src="uploads/images/medianews_item.jpg", alt="medianews_item").img-responsive
                                h4.medianews-item__title День добровольца БФ "КДЛ"
                        //- 
                        li.medianews-item.medianews-list__item
                            a(href="")
                                .medianews-item__preivew
                                    img(src="uploads/images/medianews_item.jpg", alt="medianews_item").img-responsive
                                h4.medianews-item__title День добровольца БФ "КДЛ"
                        
                        
        

        