extends boot/base/_base.pug

//- Insert your code after content block
block content
    +layout('header')
    main.page.page-news
    
        
      
        h3 Новости

        // SECTION
        section.news-box
            .news-box__wrap
                .container
                    ul.news-box__list.news-list.row
                        // - 
                        li.news-list__item.news-item
                            a(href="")
                                .news-item__preview
                                    img(src="uploads/images/news_item.jpg", alt="")
                                .news-item__info
                                    h4.news-item__title Знакомство с ментальной арифметикой...
                                    span.news-item__date 23.04.2019
                                    p.news-item__text Наши маленькие подопечные продолжают развивать умственные и творческие способности.
                        // - 
                        li.news-list__item.news-item
                            a(href="")
                                .news-item__preview
                                    img(src="uploads/images/news_item.jpg", alt="")
                                .news-item__info
                                    h4.news-item__title Знакомство с ментальной арифметикой...
                                    span.news-item__date 23.04.2019
                                    p.news-item__text Наши маленькие подопечные продолжают развивать умственные и творческие способности.
                        // - 
                        li.news-list__item.news-item
                            a(href="")
                                .news-item__preview
                                    img(src="uploads/images/news_item.jpg", alt="")
                                .news-item__info
                                    h4.news-item__title Знакомство с ментальной арифметикой...
                                    span.news-item__date 23.04.2019
                                    p.news-item__text Наши маленькие подопечные продолжают развивать умственные и творческие способности.
                        // - 
                        li.news-list__item.news-item
                            a(href="")
                                .news-item__preview
                                    img(src="uploads/images/news_item.jpg", alt="")
                                .news-item__info
                                    h4.news-item__title Знакомство с ментальной арифметикой...
                                    span.news-item__date 23.04.2019
                                    p.news-item__text Наши маленькие подопечные продолжают развивать умственные и творческие способности.
                        // - 
                        li.news-list__item.news-item
                            a(href="")
                                .news-item__preview
                                    img(src="uploads/images/news_item.jpg", alt="")
                                .news-item__info
                                    h4.news-item__title Знакомство с ментальной арифметикой...
                                    span.news-item__date 23.04.2019
                                    p.news-item__text Наши маленькие подопечные продолжают развивать умственные и творческие способности.

                    ul.pagination.row
                        li.pagination-item.pagination-item--previous
                            a(href="") <<
                        li.pagination-item.pagination-item--current
                           a(href="") 1
                        li.pagination-item
                            a(href="") 1
                        li.pagination-item
                            a(href="") 1
                        li.pagination-item
                            a(href="") 1
                        li.pagination-item
                            a(href="") 1
                        li.pagination-item.pagination-item--next
                            a(href="") >>









