extends boot/base/_base.pug

//- Insert your code after content block
block content

    +layout('header')
    main.page.page-contacts
    
        
      
        h3 Документы фонда

        // SECTION
        section.contacts-box
            .contacts-box__wrap
                .container
                    