extends boot/base/_base.pug

//- Insert your code after content block
block content

    +layout('header')
    main.page.page-project-post
    
        
      
        h3 Программы и проекты

       
                    

        // SECTION
        section.projects-post-box
            .projects-post-box__wrap
                .container
                    .projects-post-box__post
                        
        