extends boot/base/_base.pug

//- Insert your code after content block
block content
   main.page.page--team
      +layout('header')
      
      h3 О нас

      //- SECTION
      section.team-members
         .team-members__wrap
            .container
                ul.team-members__list.members-list.row
                    //- 
                    li.member-item.members-list__item
                        .member-item__photo
                            img(src="uploads/images/member_item.jpg", alt="member_item").img-responsive
                        .member-item__contacts
                            .member-item__name Магомед Магомедов
                            .member-item__position Менеджер
                            p.member-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                            p.member-item__connect <b>Email.:</b> dobrokdl@gmail.com
                    //- 
                    li.member-item.members-list__item
                        .member-item__photo
                            img(src="uploads/images/member_item.jpg", alt="member_item").img-responsive
                        .member-item__contacts
                            .member-item__name Магомед Магомедов
                            .member-item__position Менеджер
                            p.member-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                            p.member-item__connect <b>Email.:</b> dobrokdl@gmail.com
                    //- 
                    li.member-item.members-list__item
                        .member-item__photo
                            img(src="uploads/images/member_item.jpg", alt="member_item").img-responsive
                        .member-item__contacts
                            .member-item__name Магомед Магомедов
                            .member-item__position Менеджер
                            p.member-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                            p.member-item__connect <b>Email.:</b> dobrokdl@gmail.com
                    //- 
                    li.member-item.members-list__item
                        .member-item__photo
                            img(src="uploads/images/member_item.jpg", alt="member_item").img-responsive
                        .member-item__contacts
                            .member-item__name Магомед Магомедов
                            .member-item__position Менеджер
                            p.member-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                            p.member-item__connect <b>Email.:</b> dobrokdl@gmail.com
                    //- 
                    li.member-item.members-list__item
                        .member-item__photo
                            img(src="uploads/images/member_item.jpg", alt="member_item").img-responsive
                        .member-item__contacts
                            .member-item__name Магомед Магомедов
                            .member-item__position Менеджер
                            p.member-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                            p.member-item__connect <b>Email.:</b> dobrokdl@gmail.com
                    //- 
                    li.member-item.members-list__item
                        .member-item__photo
                            img(src="uploads/images/member_item.jpg", alt="member_item").img-responsive
                        .member-item__contacts
                            .member-item__name Магомед Магомедов
                            .member-item__position Менеджер
                            p.member-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                            p.member-item__connect <b>Email.:</b> dobrokdl@gmail.com