extends boot/base/_base.pug

//- Insert your code after content block
block content
    +layout('header')
    main.page.page-team
    
        
      
        h3 О нас

        // SECTION
        section.team-members
            .team-members__wrap
                .container
                    ul.team-members__list.members-list.row
                        // - 
                        li.member-item
                            a(href="")
                                .member-item__photo
                                    img(src="uploads/images/member_item.jpg", alt="member_item").img-responsive
                                .member-item__contacts
                                    .member-item__name Магомед Магомедов
                                    .member-item__position Менеджер
                                    p.member-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                                    p.member-item__connect <b>Email.:</b> dobrokdl@gmail.com
                        // - 
                        li.member-item
                            a(href="")
                                .member-item__photo
                                    img(src="/img/volunteer_img_1.jpg", alt="member_item").img-responsive
                                .member-item__contacts
                                    .member-item__name Магомед Магомедов
                                    .member-item__position Менеджер
                                    p.member-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                                    p.member-item__connect <b>Email.:</b> dobrokdl@gmail.com
                        // - 
                        li.member-item
                            a(href="")
                                .member-item__photo
                                    img(src="uploads/images/member_item.jpg", alt="member_item").img-responsive
                                .member-item__contacts
                                    .member-item__name Магомед Магомедов
                                    .member-item__position Менеджер
                                    p.member-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                                    p.member-item__connect <b>Email.:</b> dobrokdl@gmail.com
                        // - 
                        li.member-item
                            a(href="")
                                .member-item__photo
                                    img(src="/img/volunteer_img_1.jpg", alt="member_item").img-responsive
                                .member-item__contacts
                                    .member-item__name Магомед Магомедов
                                    .member-item__position Менеджер
                                    p.member-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                                    p.member-item__connect <b>Email.:</b> dobrokdl@gmail.com
                        // - 
                        li.member-item
                            a(href="")
                                .member-item__photo
                                    img(src="uploads/images/member_item.jpg", alt="member_item").img-responsive
                                .member-item__contacts
                                    .member-item__name Магомед Магомедов
                                    .member-item__position Менеджер
                                    p.member-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                                    p.member-item__connect <b>Email.:</b> dobrokdl@gmail.com
                        // - 
                        li.member-item
                            a(href="")
                                .member-item__photo
                                    img(src="uploads/images/member_item.jpg", alt="member_item").img-responsive
                                .member-item__contacts
                                    .member-item__name Магомед Магомедов
                                    .member-item__position Менеджер
                                    p.member-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                                    p.member-item__connect <b>Email.:</b> dobrokdl@gmail.com
                        // - 
                        li.member-item
                            a(href="")
                                .member-item__photo
                                    img(src="uploads/images/member_item.jpg", alt="member_item").img-responsive
                                .member-item__contacts
                                    .member-item__name Магомед Магомедов
                                    .member-item__position Менеджер
                                    p.member-item__connect <b>Тел.:</b> 8 (928) 731-26-02
                                    p.member-item__connect <b>Email.:</b> dobrokdl@gmail.com
                        
                        

        // SECTION
        section.team-action
            .team-action__wrap
                .action-block.team-action__action-block.bg-gradient--blue
                    .container
                        h3.action-block__question Хотите участвовать в волонтерстве?
                        button.btn.btn--theme--white-to-orange.action-block__btn Напишите нам

        