extends boot/base/_base.pug

//- Insert your code after content block
block content
    +layout('header')
    main.page.page--trustees
    
        
      
        h3 Попечительный совет

        // SECTION
        section.founders-members
            .founders-members__wrap
                .container
                    ul.founders-members__founders-list.founders-list.row
                        // - 
                        li.founder-item
                            .founder-item__photo
                                img(src="uploads/images/founder_item.jpg", alt="founder_item").img-responsive
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        
                        // - 
                        li.founder-item
                            .founder-item__photo
                                img(src="uploads/images/founder_item.jpg", alt="founder_item").img-responsive
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        
                        // - 
                        li.founder-item
                            .founder-item__photo
                                img(src="uploads/images/founder_item.jpg", alt="founder_item").img-responsive
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        
                        // - 
                        li.founder-item
                            .founder-item__photo
                                img(src="uploads/images/founder_item.jpg", alt="founder_item").img-responsive
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        
                        // - 
                        li.founder-item
                            .founder-item__photo
                                img(src="uploads/images/founder_item.jpg", alt="founder_item").img-responsive
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        
                        // - 
                        li.founder-item
                            .founder-item__photo
                                img(src="uploads/images/founder_item.jpg", alt="founder_item").img-responsive
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        
                        // - 
                        li.founder-item
                            .founder-item__photo
                                img(src="uploads/images/founder_item.jpg", alt="founder_item").img-responsive
                            .founder-item__contacts
                                .founder-item__name Магомед Магомедов
                                .founder-item__position Директор
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                        


        section.founders-action
            .founders-action__wrap
                .action-block.trustees-action__action-block.bg-gradient--blue
                    .container
                        h3.action-block__question Хотите присоединиться?
                        button.btn.btn--theme--white-to-orange.action-block__btn Напишите нам

        

        