footer.footer
    .footer__wrap
        .container
            .footer__logo
                +svg('', 'svg-logo-white', "svg-logo")
            nav.footer__nav.nav
                ul.footer__navbar.navbar.navbar--theme--white.row
                    li.navbar-item.footer__navbar-item
                        a(href="index.html") Главная
                    li.navbar-item.footer__navbar-item
                        a(href="news.html") Новости
                    li.navbar-item.footer__navbar-item
                        a(href="projects.html") Проекты
                    li.navbar-item.footer__navbar-item
                        a(href="volunteers.html") Помощь
                    li.navbar-item.footer__navbar-item
                        a(href="contacts.html") Контакты
        
        .footer__info-box
            .container
                a(href="").footer__btn-donut.btn.btn-donut.btn--theme--orange.btn--shadow--black
                    span Помочь сейчас
                    i.btn__glyph.glyph-kid
                .footer__base-contacts.base-contacts
                    ul.base-contacts__list.row
                        li.base-contacts__item.base-contacts__item
                            p <b>Телефон:</b> 8 (960) 435-55-22
                        li.base-contacts__item.base-contacts__item
                            p <b>WhatsApp:</b> 8 (928) 731-26-02
                        li.base-contacts__item.base-contacts__item
                            p <b>E-Mail:</b> dobro.kdl@gmail.com
                ul.footer__social-links.social-links.social-links--theme--blue.social-links--size--sm.row
                    li.social-links__item
                        a(href="")
                            i.glyph-social-vk
                    li.social-links__item
                        a(href="")
                            i.glyph-social-ig
                    li.social-links__item
                        a(href="")
                            i.glyph-social-tg
        
        .footer__copyright
            p &copy; 2005–2019, БФ «Клуб Добрых Людей»




