footer.footer
    .footer__wrap
        .container
            .footer__logo
                +svg('', 'svg_logo', "svg-logo svg-logo--theme--white")
            nav.footer__nav.nav.nav--theme--white
                li.nav__item
                    a(href="index.html") Главная
                li.nav__item
                    a(href="about.html") О нас
                li.nav__item
                    a(href="projects.html") Проекты
                li.nav__item
                    a(href="volunteer.html") Волонтерство
                li.nav__item
                    a(href="documents.html") Документы