header.header
    .header__wrap
        .header__top
            nav.header__nav.nav.hp-dsp-ib
                ul.nav__list.nav__list--row
                    li.nav__item
                        a(href="index.html") Главная
                    li.nav__item
                        a(href="about.html") О нас
                    li.nav__item
                        a(href="projects.html") Проекты
                    li.nav__item
                        a(href="volunteer.html") Волонтерство
                    li.nav__item
                        a(href="documents.html") Документы
                    li.nav__item
                        a(href="reports.html") Отчеты
                    li.nav__item
                        a(href="contacts.html") Контакты
            .header__r-links.hp-dsp-ib
                a(href="").header__donut-link Нужна помощь!
                ul.header__social-links.social-links.row.hp-dsp-if
                    li.social-links__item
                        a(href="") 1
                    li.social-links__item
                        a(href="") 2
                    li.social-links__item
                        a(href="") 3

        .header__bottom