header.header
    .header__wrap
        .header__inner
            .header__top.row
                nav.header__navbar.navbar
                    ul.navbar__list.header__navbar-list.row-mg
                        li.navbar-item.header__navbar-item
                            a(href="index.html") Главная
                        li.navbar-item.navbar-item--sub.header__navbar-item
                            a(href="about.html") О нас
                            .navbar-item__navbar.navbar
                                ul.navbar__list.header__navbar-list
                                    li.navbar-item.header__navbar-item
                                        a(href="team.html") Команда
                                    li.navbar-item.header__navbar-item
                                        a(href="founders.html") Правление
                                    li.navbar-item.header__navbar-item
                                        a(href="trustees.html") Попечительный совет
                                    li.navbar-item.header__navbar-item
                                        a(href="media_news.html") СМИ о нас
                        li.navbar-item.header__navbar-item.navbar-item--sub
                            a(href="projects.html") Проекты
                            .navbar-item__navbar.navbar
                                ul.navbar__list.header__navbar-list
                                    li.navbar-item.header__navbar-item
                                        a(href="team.html") Донорство
                                    
                        li.navbar-item.header__navbar-item
                            a(href="volunteers.html") Волонтерство
                        li.navbar-item.header__navbar-item
                            a(href="documents.html") Документы
                        li.navbar-item.navbar-item--sub.header__navbar-item
                            a(href="") Отчеты
                            .navbar-item__navbar.navbar
                                ul.navbar__list.header__navbar-list
                                    li.navbar-item.header__navbar-item
                                        a(href="gallery.html") Фото и видео
                                    li.navbar-item.header__navbar-item
                                        a(href="financial_reports.html") Финансовые отчеты
                                    li.navbar-item.header__navbar-item
                                        a(href="financial_reports.html") Годовые отчеты
                                    
                        li.navbar-item.header__navbar-item
                            a(href="contacts.html") Контакты
                .header__r-links.row
                    a(href="").header__help-link Нужна помощь!
                    ul.header__social-links.social-links.social-links--theme--white.row
                        li.social-links__item
                            a(href="")
                                i.glyph-social-vk
                        li.social-links__item
                            a(href="")
                                i.glyph-social-ig
                        li.social-links__item
                            a(href="")
                                i.glyph-social-tg

            .header__bottom.row
                button.header__btn-hamburger.btn.btn-hamburger.hdn-md
                    i.glyph-hamburger
                .header__phone-numbers.phone-numbers
                    i.phone-numbers__glyph.glyph-phone-1
                    p 8 (960) 435-55-22
                    p 8 (928) 731-26-02
                a.header__logo(href="/")
                    +svg('', 'svg-logo', "svg-logo")
                a(href="").header__btn-donut.btn.btn-donut--sm--icon.btn-donut.btn--theme--orange
                    span Помочь 
                    i.btn__glyph.glyph-kid
