section.modals
    .modals__wrap
        .modal.modal-menu
            .modal__wrap
                .modal-menu__header.row-mg
                    button.btn.btn-close.modal-menu__btn-close
                    a(href="/").modal-menu__logo
                        +svg('', 'svg-logo-white', "svg-logo svg-logo--size--md")
                    a(href="").modal-menu__btn-donut.btn.btn-donut--sm--icon.btn-donut.btn--theme--orange
                        span Помочь 
                        i.btn__glyph.glyph-kid
                
                .container
                    .modal-menu__content
                        nav.modal-menu__nav.nav
                            //- 
                        hr.modal-menu__line
                        a(href="help.html").modal-menu__help-link Нужна помощь!
                        ul.modal-menu__social-links.social-links.social-links--theme--white.row
                            li.social-links__item
                                a(href="")
                                    i.glyph-social-vk
                            li.social-links__item
                                a(href="")
                                    i.glyph-social-ig
                            li.social-links__item
                                a(href="")
                                    i.glyph-social-tg

                        .modal-menu__phone-numbers.phone-numbers
                            i.phone-numbers__glyph.glyph-phone-1
                            p 8 (960) 435-55-22
                            p 8 (928) 731-26-02
