/*
******************************************************************
* Get calculated value
******************************************************************
*/
@function size($cols, $margin: null) {
    @if $margin == null {
        @return calc(100% / 12 * #{$cols} - #{$gutter * 2});
    }
    @else {
        @return calc(100% / 12 * #{$cols} -  #{$margin}px);
    }
}







/*
******************************************************************
* Convert pixel values to ems
******************************************************************
*/
@function em($target, $context: $base_font_size) {
   
    @if $target == 0 { @return 0 }
    @return $target / $context + 0em;
}







/*
******************************************************************
* Convert pixel values to rems
******************************************************************
*/
@function rem($target, $context: $base_font_size) {
    @if $target == 0 { @return 0 }
    @return $target / $context + 0rem;
}







/*
******************************************************************
* Value to convert to ems
******************************************************************
*/
@function px($target, $context: $base_font_size) {
    @if not unitless($target) {
      $pxval: strip-units($target);
    }
    @if not unitless($context) {
      $base: strip-units($context);
    }
    @if $target == 0 { @return 0 }
    @return $target * $context + 0px;
  }

  