/* 
******************************************************************
* Media queries

xlarge(xl) - Desktops
large(lg) - Desktops, Laptops 
medium(md) - Tablets, iPads
small(sm) - Low Tablets, Mobiles 
xsmall - Smartphones Mobiles 

******************************************************************
*/
@mixin mq($type, $orientation: false) {
    @if($type == 'xl') {
        @media screen and (min-width: $screen_xl) {
            @content;
        }
    }
    @else if ($type == 'lg') {
        @media screen and (min-width: $screen_lg) and (max-width: $screen_xl - 1) { @content; }
    }
    @else if ($type == 'lg_max') {
        @media screen and (max-width: $screen_lg) { @content; }
    }
    
    // 
    @else if ($type == 'md') {
        @media screen and (min-width: $screen_md) and (max-width: $screen_lg - 1) { @content; }
    }
    @else if ($type == 'md' and $orientation) {
        @media screen and (min-width: $screen_md) and (max-width: $screen_lg - 1) and (orientation: landscape) { @content; }
    }
    @else if ($type == 'md_max') {
        @media screen and (max-width: $screen_md) { @content; }
    }
    
    // 
    @else if ($type == 'sm') {
        @media screen and (min-width: $screen_sm) and (max-width: $screen_md - 1) { @content; }
    }
    @else if ($type == 'sm' and $orientation) {
        @media screen and (min-width: $screen_sm) and (max-width: $screen_md - 1)  and (orientation: landscape) { @content; }
    }
    
    // 
    @else if ($type == 'xs') {
        @media screen and (min-width: $screen_xs) and (max-width: $screen_sm - 1) { @content; }
    }
    @else if ($type == 'xs' and $orientation) {
        @media screen and (min-width: $screen_xs) and (max-width: $screen_sm - 1)  and (orientation: landscape) { @content; }
    }

    // 
     @else if ($type == 'iphonex') {
        @media screen and (min-width: 375px) and (max-height: 812px) { @content; }
    }
   

    @else { @warn 'Error: Not found screen type'; }
        
}







/* 
******************************************************************
* Clearfix
******************************************************************
*/
@mixin clearfix {
    *zoom: 1;
  
    &:before,
    &:after {
      content: '';
      display: block;
    }

    &:after { clear: both; }
}







/* 
******************************************************************
* Responsive images
******************************************************************
*/
@mixin img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}






/* 
******************************************************************
* Generate triangle shape
******************************************************************
*/
@mixin shape_triangle($type, $size, $color) {
    width: 0px;
    height: 0px;
    
    @if $type == "up" {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
    }
    @else if $type == "down" {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
    }
    @else if $type == "left" {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    }
    @else if $type == "right" {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
}






/* 
******************************************************************
* Disable text select option
******************************************************************
*/
@mixin text-select-off {
    user-select: none;
}






/* 
******************************************************************
* Toggle list style option
******************************************************************
*/
@mixin toggle-list-style($flag: true) {
    @if $flag {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
}





/* 
******************************************************************
* Centering
******************************************************************
*/
@mixin abs-center {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
    right: 0;
    min-height: 50%;
}


@mixin flex-center {
	align-self: center;
}