*,
*:before,
*:after {
    box-sizing: border-box;
}


.container {
    max-width: $screen_default;
    padding: 0 $grid_gutter;
    margin: 0 auto;
    outline: 1px solid red;
}

@include mq('xl') { .container { max-width: 1024px; } }
@include mq('lg') { .container { max-width: 992px; } }
@include mq('md') { .container { max-width: 750px; } }
@include mq('sm') { .container { max-width: none; } }




.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid_gutter;
    margin-right: -$grid_gutter;
}


.row:before,
.row:after {
    content: "";
    display: block;
    clear: both;
}