.alert {

    &.alert-error {
        background-color: rgba($color: $color_red, $alpha: 0.2);
        border: 1px solid $color_red;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 8px;
        color: $color_red;
        padding: $gutter;
        margin-bottom: rem($font_size_xs);
    }

    &.alert-success {
        color: green;

        .alert-success__title {
            display: block;
            margin-bottom: rem($font_size_sm);
        }
    }
}


.alerts-list {
    flex-direction: column;
    align-items: flex-start;
}