.financial-report-item {
    display: flex;
    background-color: #fff;
    border: 1px solid rgba($color: $color_dark, $alpha: 0.29);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;

    &.financial-report-item--disabled {
        color: gray;
        opacity: 0.5;
        cursor: no-drop !important;

        a {
            color: gray;
            cursor: inherit;
        }
        &:hover {
            background-color: #fff;
            color: gray !important;
            a {
                color: gray;
            }
        }
    }

    &:hover {
        background-color: $color_blue;
        color: #fff;
        a {
            color: #fff;
        }
    }
    
    .financial-report-item__year {
        font-size: rem($font_size_xl);
        font-style: normal;
        font-weight: 300;
    }

    .financial-report-item__link {
        font-size: rem($font_size_md);
        text-decoration: underline;
        font-style: normal;
        font-weight: bold;
        color: $color_orange;
    }

    

    &.financial-report-item--type--month {
        cursor: default;
 
    }

}