.form {
    .form__wrap {
        
        background: #FFFFFF;
        box-shadow: 0px 10px 34px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        border: 1px solid rgba($color: $color_dark, $alpha: 0.2);
        
    }

    .form__title {
        font-style: normal;
        font-weight: bold;
    }
}