.founder-item {


    a {
        color: $color_dark;
    }
    .founder-item__photo {
        overflow: hidden;
        box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.12);
        border-radius: 6px;

    }
    .founder-item__contacts {
        background-color: rgba($color: #fff, $alpha: 0.8);
        border: 1px solid rgba(51, 58, 60, 0.15);
        padding: 32px 15px;
        margin: 0 5px;
        border-radius: 0 0 6px 6px;

    }

    .founder-item__name {
        color: $color_blue;
        font-size: rem($font_size_sm);
        font-style: normal;
        font-weight: bold;
        text-align: left;
        margin: rem($base_font_size) 0;
    }

    .founder-item__position {
        color: $color_orange;
        margin-bottom: rem($base_font_size);
    }

    .founder-item__position {
        font-style: normal;
        font-weight: 300;
    }

    .founder-item__contact {
        margin: 0;
        margin-bottom: 5px;
    }
}