.nav {
    .nav__list {
        padding: 0;
        margin: 0;

        &--row {
            display: flex;
            .nav__item{
                justify-content: space-between;
                margin-right: auto;
            }
        }
    }
    .nav__item {
        font-family: $second_font_family;
        font-style: normal;
        font-weight: bold;

        a {
            color: inherit;
            transition: 0.3s;

            &:hover {
                color: $color_orange;
                letter-spacing: 1px;
            }
        }
    }

    &.nav--theme--white {color: #fff;}
}