.needy-item {
    overflow: hidden;
    background-color: #fff;
    border: 1px solid rgba(51, 58, 60, 0.15);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    &.needy-item--done {
        
        .needy-item__preview {
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: rgba($color: $color_dark, $alpha: 0.8);
            }
        }
        
        .needy-item__bar {
            border-color: $color_orange;
            span {
                background-color: $color_orange;
                box-shadow: 0px 2px 9px rgba($color: $color_orange, $alpha: 0.3);
            }
        }

        .needy-item__collected {
            display: none;
        }

        .needy-item__needed {
            margin-right: auto; 
        }

        .needy-item__icon-done {
            display: block;
        }

        
    }
}


 

.needy-item__preview {
    position: relative;
    img {
        @include img-responsive;
    }
    
}

.needy-item__desc {
    padding: 0 15px;
}

.needy-item__name {
    span {opacity: 0.6;}
}

.needy-item__collect {
    background: rgba(51, 58, 60, 0.02);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 6px 6px;
    margin: 0 -15px;
    padding: 0 15px;
    justify-content: space-around;
}

.needy-item__icon-done {
    display: none;
    font-size: rem($font_size_sm);
    color: green;
}

.needy-item__bar {
    width: 100%;
    margin-top: 15px;
    border: 1px solid $color_blue;
    border-radius: 5px;
    overflow: hidden;

    span {
        display: block;
        width: 50%;
        height: 10px;
        background-color: $color_blue;
        border-radius: 2px 5px 5px 2px;
        transition: width 3s;
        box-shadow: 0px 2px 9px rgba($color: $color_blue, $alpha: 0.3);
    }

   
}

.needy-item__collected {
    margin-right: auto;
    b {
        color: #000;
    }
}

.needy-item__needed {
    b {
        color: $color_orange;
    }
}