.phone-numbers {
    position: relative;
    p {
        font-style: normal;
        font-weight: bold;
        margin: 3px 0;
        margin-left: 40px;
        color: rgba($color_dark, $alpha: 0.7);
    }

    .phone-numbers__glyph {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 20px;
        margin: auto;
        color: $color_orange;
    }
 }